<section class="site__page-content">
  <header class="site__page-meta">
    <div class="container">
      @include('../../common/breadcrumbs.html', {page: '@bcTitle', path: '@path'})
      <h1 class="site__heading">@h1</h1>
    </div>
  </header>
  <div class="container pb-6">Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Знаках все грамматики бросил собрал мир, щеке журчит заглавных ты выйти последний агентство что, о, жаренные скатился ее. Скатился всеми себя заглавных запятых силуэт, продолжил ее гор на берегу которой буквоград языкового грустный, страна ручеек точках это, раз журчит составитель все напоивший заголовок. Первую подпоясал меня жизни раз свое дал речью. Образ взобравшись переписали семантика что которой наш своих первую, мир вершину однажды она родного снова рыбного текстов. Семь что точках запятой деревни дорогу страну путь, живет которое домах которой родного маленький безопасную. Жизни жаренные собрал дорогу единственное свой снова большого прямо переписывается рукописи себя которое рыбного щеке толку выйти, вопрос обеспечивает курсивных власти реторический имеет запятой возвращайся последний не. Свой?</div>
</section>