.site {
  &__container {
    display: flex;
    flex-direction: column;
    min-height: calc(100 * var(--vh, 1vh));
  }

  &__header {
    flex-shrink: 0;
  }

  &__content {
    flex-grow: 1;
  }

  &__page-content {
    color: var(--black-30-color);
    background-color: var(--white-color);

    &--dark {
      background-color: var(--black-color);
    }
  }

  &__page-meta {
    padding-bottom: 32px;

    &--about {
      color: var(--black-color);
      background-color: var(--black-10-color);
      background-image: url('../img/covers/about-cover.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-image: fill 0 linear-gradient(to top, rgba(230, 230, 230, 0.8), #E6E6E6);
      min-height: 432px;
    }

    &--product {
      color: var(--black-color);
      background-color: var(--white-color);
    }
  }

  &__heading {
    margin: 0;
  }

  &__bc {
    font-size: 16px;
    padding-top: 24px;
    padding-bottom: 32px;
    color: var(--black-50-color);

    & a {
      color: inherit;

      @include any-hover {
        transition: color var(--duration-fast) ease-in-out;

        &:hover {
          color: var(--orange-color);
        }
      }
    }
  }

  &__footer {
    flex-shrink: 0;
  }

  @include media-min ($xl) {
    &__page-meta {
      padding-bottom: 48px;

      &--about {
        min-height: 564px;
      }
    }

    &__bc {
      padding-top: 32px;
      padding-bottom: 48px;
    }
  }
}