.site-section {
  --card-color: var(--black-color);
  --card-bg: var(--white-color);
  --descr-hover-color: var(--card-color);

  position: relative;
  padding: 48px 0;

  &--dark {
    --card-color: var(--white-color);
    --card-bg: var(--black-color);
    --bb-color: var(--black-70-color);

    color: var(--white-color);
    background-color: var(--black-color);
  }

  &__title {
    position: relative;
    z-index: 1;
    margin: 0;
    color: var(--black-30-color);

    &--no-border {
      margin-bottom: 32px;
    }
  }

  &--mapped {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 48px;
      background-image: url('../img/covers/delivery-map.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      pointer-events: none;
    }
  }

  &__slider {
    border-top: 1px solid var(--black-10-color);
    margin-top: 16px;
    padding-top: 16px;
  }

  &__service-list {
    @include list-reset;

    display: grid;
    row-gap: 48px;
  }

  &__mission-list {
    @include list-reset;

    display: grid;
    row-gap: 24px;

    &>li {
      position: relative;
      padding-left: 40px;

      &::before {
        content: '\2022';
        position: absolute;
        left: 12px;
        top: 0;
      }
    }
  }

  @include media-min ($md) {
    &--mapped {
      position: relative;

      &::before {
        left: 50%;
        background-position: center left;
      }
    }

    &__mission-list {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      row-gap: 48px;
    }
  }

  @include media-min ($xl) {
    padding: 96px 0;

    &__title {
      padding-bottom: 16px;
      padding-right: 128px;
      margin-bottom: 32px;
      border-bottom: 1px solid var(--bb-color, var(--black-10-color));

      &--no-border {
        border: none;
      }
    }

    &__slider {
      border-top: none;
      margin-top: 0;
      margin-bottom: -80px;
      padding-top: 0;
      transform: translateY(-80px);
      z-index: 1;
    }

    &__mission-list {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 64px;
    }
  }
}