.dealers {
  &__map {
    margin-bottom: 48px;
  }

  &__list {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;

    &>li {
      display: list-item;
    }
  }

  @include media-min ($xl) {
    &__map {
      margin-bottom: 64px;
    }
  }
}
